extends layout

block content

        .container.top
            .row
                .col-lg-2
                .col-xs-6.col-lg-3
                    input.form-control#username(type="text" autocomplete="off")
                .col-xs-2.col-lg-2
                    button.btn.btn-success#btn-username(onclick='set_username()') set username
                .col-xs-4.col-lg-5

        .container.top.chat
            .row
                .col-lg-2
                .col-lg-8
                    ul.list-group.list-group.pre-scrollable#list-box
                .col-lg-2

        .container
            .row
                .col-lg-2
                .col-xs-8.col-lg-7
                    input.form-control(type='text', id="input-box")
                .col-xs-4.col-lg-2
                    button.btn.btn-primary#btn-send(type='button', onclick='add_msg(),scroll_bottom()') Send
            .row.top(style="margin-bottom: 5px")
                .col-xs-3
                .col-xs-6
                    button.btn.btn-danger#btn-clear(type='button', onclick='clear_db(),clear_board()') Clear history
                .col-xs-3



        //add old message from db
        script.
            refresh_history()

        //keep scrollbar down
        script.
            var input = document.getElementById("username");

            input.addEventListener("keyup", function (event) {
                event.preventDefault();
                if (event.keyCode === 13) {
                    document.getElementById("btn-username").click();
                }
            });
        //keep scrollbar down
        script.
            var input = document.getElementById("input-box");

            input.addEventListener("keyup", function (event) {
                event.preventDefault();
                if (event.keyCode === 13) {
                    document.getElementById("btn-send").click();
                }
            });
        //socket listener
        script.
            var socket = io.connect('https://simple-chatroom-1.herokuapp.com/')   // online
            //var socket = io.connect('127.0.0.1:3000')     //offline testing
            console.log("connesso");
            socket.on('add', function (data) {
                append_new_message(data.msg, data.user);
                scroll_bottom();
            })














