extends layout

block content

        .container.chat
            .row
                .col-xs-6
                    input.form-control#username(type="text")
                .col-xs-2
                    button.btn.btn-success(onclick='set_username()') set username
                .col-xs-4

        .container-fluid.top
            ul.list-group.list-group.pre-scrollable#list-box

        .container
            .row
                .col-xs-2
                .col-xs-8
                    input.form-control(type='text', id="input-box")
                .col-xs-2
                    button.btn.btn-primary(type='button', onclick='add_msg(),scroll_bottom()', id = "btn-send") Send
            .row.top(style="margin-bottom: 5px")
                .col-xs-3
                .col-xs-6
                    button.btn.btn-danger(type='button', onclick='clear_db(),clear_board()', id = "btn-clear") Clear history
                .col-xs-3



        //add old message from db
        script.
            refresh_history()

        //keep scrollbar down
        script.
            var input = document.getElementById("input-box");

            input.addEventListener("keyup", function (event) {
                event.preventDefault();
                if (event.keyCode === 13) {
                    document.getElementById("btn-send").click();
                }
            });
        //socket listener
        script.
            //var socket = io.connect('https://simple-chatroom-1.herokuapp.com/')   // online
            var socket = io.connect('127.0.0.1:3000')     //offline testing
            console.log("connesso");
            socket.on('add', function (data) {
                append_new_message(data.msg, data.user);
                scroll_bottom();
            })














