body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.pre-scrollable{
    height: 150px
}


.border {
    outline: 1px solid orange;

}

.top{
    margin-top: 50px;
}

li:nth-child(odd) {
    background: rgba(0, 0, 0, 0.06);
}