body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}


.pre-scrollable{
    height: 150px
}


.top{
    margin-top: 25px;
}


li:nth-child(odd) {
    background: rgba(0, 0, 0, 0.06);
}
